@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  background-color: #080a12;
  color: rgb(241, 245, 249);
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: #080a12;
}

section {
  scroll-margin-top: 96px;
}
